body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#calculator{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: hsl(0, 0%, 10%) ;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    
    
    border: none;
    background-color: hsl(0, 0%, 15%) ;
    color: white;
}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    
}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(19, 84%, 95%,);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}



button:hover{
    background-color: hsla(19, 84%, 75%, 0.569);
}

button:active{
    background-color: hsla(19, 84%, 55%, 0.569);

}

.operator-btn{
    background-color: hsla(19, 84%, 55%, 0.569);
}
.operator-btn:hover{
    background-color: hsla(19, 84%, 75%, 0.569);
}

.operator-btn:active{
    background-color: hsla(19, 84%, 95%, 0.569);
}
.own-btn{
    background-color: hsl(0, 0%, 10%)
}
.own-btn:active{
    background-color: hsl(0, 0%, 11%)
}
.own-btn:hover{
    background-color: hsl(0, 0%, 10%)
}